@{
  Layout = "_Layout";
}

@model SweetCakes.Models.Flavor


<h4>Edit this Flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorName)
    @Html.EditorFor(model => model.FlavorName)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Flavor List", "Index")</p>